In [11]:
## 필요한 데이터 파일을 다운로드.
## 2015년 Loan Data 다운로드 후 적절한 위치에 저장.

import numpy as np
import pandas as pd

In [12]:
## 1. Data Loading 

df = pd.read_csv("./data/loandata/LoanStats3d.csv", 
                sep = "," ,
                skiprows=1)

# sep = " ? ": ?에 들어갈 구분자가 무엇인지 정의
# skiprows = ? : 위에서 부터 ?번째 행을 포함하지않고 띄울지 정의

C:\ProgramData\Anaconda3\envs\cpu_env\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
## 총 데이터의 수 확인 (몇건의 대출정보가 있는지)
                  #     행    렬
display(df.shape) # (421097, 144)
display(df.columns)
display(df.head())

(421097, 144)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,24700.0,24700.0,24700.0,36 months,11.99%,820.28,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10000.0,10000.0,10000.0,36 months,12.88%,336.37,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,20000.0,20000.0,20000.0,36 months,6.49%,612.89,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20000.0,20000.0,20000.0,36 months,5.32%,602.30,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,18000.0,18000.0,18000.0,36 months,7.49%,559.83,A,A4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
## 필요한 column만 추출해서 새로운 DataFrame을 생성  
## 원본에서 필요한 컬럼 몇개만 뽑아내서 데이터프레임을 만들어서 사용할꺼임! 복잡스러워서

# 'loan_amnt' : 대출금액 , 'loan_status' : 대출상태 , 'grade' : 대출등급 , 'int_rate' : 이자율 , 'term' : 대출기간

# Fancy indexing 사용해서 해당 컬럼만 뽑아서 새로운 데이터프레임 df2 만들기
df2 = df[["loan_amnt","loan_status","grade","int_rate","term"]] 
df2.head()

   loan_amnt loan_status grade int_rate        term
0    24700.0  Fully Paid     C   11.99%   36 months
1    10000.0  Fully Paid     C   12.88%   36 months
2    20000.0  Fully Paid     A    6.49%   36 months
3    20000.0  Fully Paid     A    5.32%   36 months
4    18000.0  Fully Paid     A    7.49%   36 months

In [15]:
## 각 컬럼의 값 확인

# 대출상태의 종류가 어떤게 있는지 확인
display(df2["loan_status"].unique())

# 대출등급의 종류가 어떤게 있는지 확인
display(df2["grade"].unique())

# 대출기간의 종류가 어떤게 있는지 확인
display(df2["term"].unique())

# => 결측값이 생김 => 제거할꺼임!!
## 결측값 제거 
display(df2.shape) # (421097, 5)
df2.dropna(how="any", inplace=True) # nan이 하나라도 들어간 행 모두 제거 , inplace=True : 원본속성날리는거
display(df2.shape)

array(['Fully Paid', 'Charged Off', 'Current', 'Late (31-120 days)',
       'In Grace Period', 'Late (16-30 days)', nan], dtype=object)

array(['C', 'A', 'D', 'B', 'F', 'E', 'G', nan], dtype=object)

array([' 36 months', ' 60 months', nan], dtype=object)

(421097, 5)

C:\ProgramData\Anaconda3\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

(421095, 5)

In [4]:
# 숫자에 대한 formatting
print("{:,}".format(100000000))

1,000,000,000

In [16]:
## 대출기간별 대출 총액 구하기 : sum()
# 36 months : 3,626,461,100.0
# 60 months : 2,791,147,075.0

terms = df2["term"].unique()
term_result = {}

for t in terms:
    term_sum = df2.loc[df2["term"]== t, "loan_amnt"].sum()
    term_result[t] = term_sum
    
for key in term_result:
    print("{}".format(key), end=" : ")
    print("{}".format("{:,}".format(term_result[key])))

# k = display(df2["term"].unique())
# display(k.shape)
# display(k.loc[ k == "36 months"]).sum()

 36 months : 3,626,461,100.0
 60 months : 2,791,147,075.0

In [22]:
## 대출 중 불량한 상태의 대출에 대해서 불량한 상태의 대출("Charged Off","'Late (31-120 days)","In Grace Period","Late (16-30 days)")

## 불량한 상태의 총 대출 건수
## 불량한 상태의 대출에 대해 각 Grade의 대출 건수

bad_loan_status =  df2["loan_status"].unique()[[1,3,4,5]]
print(bad_loan_status)

## 불량 대출에 대한 mask 생성
bad_mask = df2["loan_status"].isin(bad_loan_status)
print(bad_mask.sum())

df3 = df2.loc[bad_mask,"grade"]
df3.value_counts().sort_index()

['Charged Off' 'Late (31-120 days)' 'In Grace Period' 'Late (16-30 days)']
78919

A     4023
B    14376
C    24470
D    18021
E    12587
F     4375
G     1067
Name: grade, dtype: int64